---
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header class="bg-white/80 backdrop-blur-sm shadow-sm sticky top-0 z-50">
      <div
        class="max-w-5xl mx-auto px-4 py-3 flex items-center justify-between"
      >
        <nav aria-label="Main navigation">
          <ul class="flex flex-col md:flex-row gap-3 md:gap-6 items-center ">
            <li>
              <a
                href="/"
                class="text-gray-700 hover:text-indigo-600 transition-colors"
                >Accueil</a
              >
            </li>
            <li>
              <a
                href="/sliderCarte"
                class="text-gray-700 hover:text-indigo-600 transition-colors"
                >Le réseau ferroviaire actuel</a
              >
            </li>
            <li>
              <a
                href="/trajets"
                class="text-gray-700 hover:text-indigo-600 transition-colors"
                >Réagissez
              </a>
            </li>
            <li>
              <a
                href="/trajets"
                class="text-gray-700 hover:text-indigo-600 transition-colors"
                >Trouvez votre gare
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="mx-auto px-4 py-6">
      <slot />
    </main>
    <footer class="bg-gray-100 mt-12">
      <div
        class="max-w-5xl mx-auto px-4 py-6 text-center text-gray-600 text-sm"
      >
        © {new Date().getFullYear()} Les Trains. Tous droits réservés.
      </div>
    </footer>
  </body>
</html>
